<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="fast zoomInRight">
		<div class="input-group search-bar">

			<input type="text" ng-model="searchIn" class="form-control" placeholder="Enter full artist name"
			 autofocus />
			<span class="input-group-addon bar-style">
				<i class="glyphicon glyphicon-search" ng-click="fetch"></i>
			</span>
		</div>
	
		<div id="main-info" ng-include="partials/main-info.html" class="col-md-8"></div>
	
		<div id="related-results" ng-include="partials/related-results.html" class="col-md-4 animated bounce related-results"></div>
</div>

<div class="container animate zoomInRight fadeIn" style="margin-top:20px;">
	<div ng-repeat="result in details | filter:searchIn" class="row col-md-4 miClase fadeIn container-img"> <!--ng-if="result.name == searchIn" -->
		<img ng-click="normalDialog()" ng-if="result.type == 'artist'"ng-src="{{result.images[0].url || fotoDefecto}}" class="col-md-12 img-fluid image">
		<p  ng-if="result.type == 'artist'" class="claseImg">{{result.name || result.title}}</p>
		<!--<div class="overlay">
			<div class="text">Type: {{result.media_type | uppercase}}</div>
			<div ng-if="result.release_date" class="text">Date: {{result.release_date}}</div>
			<div ng-if="result.first_air_date" class="text">Date: {{result.first_air_date}}</div>
			<p id="myText" class="text fix">Overview: {{result.overview || result.name}}</p>
		</div> -->
	</div>
</div>

<div ng-controller='popUpCtrl'>
    <button ng-click='toggleModal2()'>Open Modal Dialog 2</button>
    <modal-dialog 	show='modalShown2' 
                	width='50' 
                    height='50' 
                    modal-user="user" 
                    save-user="saveUser(user)"
                    template-user="parciales/popUpArtist.html">
    </modal-dialog>
<div>




