<hr>
<canvas id="canvas1" ng-click="triggerDownload($event)" class="chart chart-bar" chart-options="opciones" chart-data="datos" chart-labels="etiquetas1" chart-series="series"></canvas>
<hr>
<canvas style="z-index:1;" ng-show="true" id="canvas2" class="chart chart-bar" width="600" height="300" chart-options="opciones2" chart-data="datos" chart-labels="etiquetas2" chart-series="series"></canvas>
<hr>
<a id="descargaPDF" ng-click="ExportPdf()">PDF</a>
<hr>       
<div ng-include="tblProfesores"></div>
<!-- <h1>{{etiquetas1}}</h1> -->
    
    <!-- <ul id="users"></ul>

    <script type="text/x-kendo-template" id="myTemplate">
        #if(isAdmin){#
            <li>#: name # is Admin</li>
        #}else{#
            <li>#: name # is User</li>
        #}#
        <h1>HOLA</h1>
    </script>



    <script type="text/javascript">
        var templateContent = $("#myTemplate").html();
        var template = kendo.template(templateContent);

        var data = [
            { name: "John", isAdmin: false },
            { name: "Alex", isAdmin: true }
        ];

        var result = kendo.render(template, data); 

        $("#users").html(result); 
    </script> -->

<script>
/*
    var canvas2 = document.getElementById("canvas2");
    //var canvas1 = document.getElementById("canvas1");

    var link = document.createElement('a');
    link.innerHTML = 'download canvas';
    link.addEventListener('click', function(ev) {
                                        console.log(canvas2);
                                        console.log("JS: "+ev);
                                        if (canvas2.msToBlob) {
                                            var blob = canvas2.msToBlob();
                                            window.navigator.msSaveBlob(blob, 'canvas.png');
                                        }else{
                                            console.log("JS: ")
                                            link.href = canvas2.toDataURL();
                                            link.download = "canvas.png";
                                        }
                                }, false);
    document.body.appendChild(link);

    canvas1.addEventListener('click',function(){
        
        var imgData = canvas1.toDataURL('image/png');
        var doc = new jsPDF();
        doc.addImage(imgData, 'PNG');
        doc.save('canvas.pdf');

    });
*/
</script>